.app {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: 'azeret mono';
  background-image: url(./components/Assets/paramount+.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.image{
  width: 40%;
  margin-left: 30%;
  margin-bottom: -15%;
  margin-top: -15%;
  
}
.paragraph{
  text-align: center;
}
h1 {
  text-align: center;
  color:#ea6e4d;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color:#eecb89;
}

.movie-card {
  border: 1px solid green;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.movie-card img {
  max-width: 100%;
  height: auto;
}

.filter {
  margin-bottom: 20px;
}

.add-movie-form {
  margin-top: 30px;
}

.add-movie-form h2 {
  margin-bottom: 10px;
  color: #ea6e4d;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ea6e4d;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
